* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

input,
select,
option {
    cursor: pointer;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.main-title {
    margin: 8px 0 32px ;
    font-family: 'Dela Gothic One', cursive;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__row {
    display: flex;
    gap: 80px;
    margin-bottom: 32px;
}

.form__item {
    display: flex;
    flex-direction: column;
}

.input {
    width: 234px;
    border: none;
    background-color: #313131;
    color: #fff;
    padding: 8px;
}

.input-title {
    padding-bottom: 16px;
    font-size: 22px;
}

.form__item-row {
    display: flex;
    gap: 32px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #fff;
    padding: 15px;
}

.card__img {
    width: 250px;
}

.card__row {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.card__title {
    font-size: 16px;
}

.btns {
    display: flex;
    gap: 32px;
}

.btn {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    padding: 8px 32px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #181818;
}

.result-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    font-family: 'Dela Gothic One', cursive;
    font-size: 22px;
}

.inert {
    display: none;
}

.error-style {
    box-shadow: 0px 0px 16px 5px rgba(253, 77, 77, 0.6);
}

.error {
    padding-bottom: 16px;
    font-family: 'Dela Gothic One', cursive;
    font-size: 22px;
    color: #fd4d4d;
}

/* .error:first-child {
    margin-top: 32px;
}

.error-style {
    outline: 2px solid #fd4d4d;
} */

/* .form__name-option_chbx {
    margin-bottom: 8px;
}

.form__name-option_chbx:last-child {
    margin-bottom: 0px;
} */

table {
    border-collapse: collapse;
}

th {
    width: 20%;
    border: 1px solid #ffffff60;
    padding: 8px;
    border-top: none;
}

th:first-child {
    border-left: none;
}

th:last-child {
    border-right: none;
}

td {
    text-align: center;
    border: 1px solid #ffffff60;
    padding: 8px;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}